* {
    padding: 0%;
    margin: 0%;
}

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 70% 30% auto;
    grid-template-rows: 3rem 5rem auto;
    grid-template-areas: "nav nav"
                         "header header"
                         "news table" ;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between; /* Distribui espaço entre as listas */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    font-weight: 5rem;
    font-style: bold;
    background: aliceblue;
}

.links {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-left: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

div div img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.header{
    display: flex;
    background: #04a15a;
    grid-area: header;
    padding-top: 1rem;
    justify-content: space-between;
    color: aliceblue;
    font-weight: 5rem;
    font-style: bold;
    padding-right: 1.5rem;
}

#link-principal {
    font-size: 3rem;
    font-weight: 100;
}

.links-secundarios {
    font-size: 1rem;
    padding-top: 1rem;
    
}

#div-logo {
    border-right: 0.01rem solid #f0f4f4;
    padding-right: 1rem;
}

.news {
    background: white;
    grid-area: news;
    height: 100vh;
}

div article {
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    
}
div article img{
    float: left;
    height: 17.62rem;
    width: 28.12rem;
    padding-top: 0.8rem;
    padding-left: 3rem;
    padding-right: 1rem;
    
} 

div hr {
    padding-top: 0.8rem;
    padding-left: 3rem;
    padding-right: 1rem;  
    width: 90%;
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
}

div article h1 {
    font-size: 3rem;
    color: #04663a;
    font-family:Arial, Helvetica, sans-serif;
    hyphens: auto;
    line-height: 0.9;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div article p {
    font-style: italic;
}

.table {
    background: white;
    grid-area: table;
}

.acessos{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 2rem;
    gap: 1rem;
}

#logo {
    float: left;
    padding-left: 1rem;
}

div span {
    padding-left: 1rem;
}

.pesquisa {
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    padding: 0.032rem 0.50rem; 
    margin-bottom: 0.9rem;
    margin-right: 0.5rem;
  }

#img-search {
    padding-top: 0.8rem;
    max-width: 1.87rem;
    float: left;
}  

input {
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

  .tabela {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    padding-top: 1rem;
    padding-right:3rem;
    padding-left: 3rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff
    
  }
  
  th, td {
    padding: 0.62rem;
    border: none;
    border-bottom: 1px solid;
    padding: 8px;
    
  }

  td img {
    max-width: 3.12rem;
    max-height: 3.12rem;
  }
 
  th {
    background-color: #f2f2f2;
   
  }

thead tr th {
    text-align: left;
    background-color: #ffffff;
}   
.win {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    background-color: green;
    border-radius: 50%;
    margin: 0 0.12rem;
}
  
.loss {
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    background-color: red;
    border-radius: 50%;
    margin: 0 0.12;
}
  
.ver-mais {
    display: block;
    text-align: center;
    margin-top: 0.62rem;
    text-decoration: none;
    color: blue;
}  

  div h2{
    background: #04663a;
    color: white;
    height: 3rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  div h3 {
    font-size: 2rem;
    background: #ffffff;
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
    border-bottom: 0.06rem solid;
    padding-bottom: 1rem;
  }

 .pontos {
    border-bottom: 0.12rem solid #000;
 } 

 #link1 {
    color: blue;
 }

 #link2 {
    color: rgb(235, 8, 54);
 }
 #link3 {
    color: rgb(7, 117, 42);
 }
 #link4 {
    color: rgb(236, 113, 6);
 }

 #link5 {
    color: rgb(253, 131, 38);
 }
 #link6 {
    color: rgb(9, 9, 139);
 }